@model List<Database.Models.Banner>

@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/bootstrap.css"/>
<script>

async function SeeBanner(guid) {
   await fetch('seeBanner',
     {
       method: 'POST',
       body: JSON.stringify({
       'id': guid
       }),
       headers: {
         'Content-type':'application/json; charset=UTF-8',
       }
     });
}

async function ClickBanner(guid) {
    
   const response = await fetch('clickBanner',
        {
          method: 'POST',
          body: JSON.stringify({
          'id': guid
          }),
          headers: {
           'Content-type':'application/json; charset=UTF-8',
          }
        });
   
  const json = await response.json();
   
  var click = JSON.parse(JSON.stringify(json));
   
  document.getElementById('click_count_'+guid).innerHTML = 'Количество нажатий: <small>' +click.clickCount+ '</small></p>';    
}

</script>

<div class="row row-cols-1 row-cols-md-2 g-4">
    @foreach (var banner in Model)
    {
        <div class="col">
            <div class="card mt-4" style="min-width: 33.6rem;">
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <p class="card-text">
                            Баннер:
                            <small>
                                <button onclick="ClickBanner('@banner.BannerId')">
                                    <img onload="SeeBanner('@banner.BannerId')" src="https://img.hhcdn.ru/employer-logo/2897761.png"
                                         alt="Logo"/>
                                </button>
                            </small>
                        </p>
                        <p id="click_count_@banner.BannerId" class="card-text">Количество нажатий: <small>@banner.ClickCount</small></p>
                        <p class="card-text">Количество просмотров: <small>@banner.SeeCount</small></p>
                    </blockquote>
                    <br/>

                </div>
                <div class="card-footer text-muted">
                    Id баннера: @banner.BannerId
                </div>
            </div>
        </div>
    }
</div>